


<div class="fixed-footer" ><span><a href='/help'>Help</a></span> <span><a href='/feedback'>Send Feedback</a></span>  <span><a href='/privacy'>Privacy</a></span> <span><a href='/terms'>Terms</a></span> </div>
<div>Copyright © Andy Sabo 2026. All rights reserved.</div>