
<%- include('partials/header') %>

<div class="bg-white p-8 rounded-xl shadow-sm border border-slate-200">
    <h1 class="text-3xl font-bold">Privacy Policy</h1>
    <p class="text-slate-500 mt-2">There is none.</p>
    
    <div class="mt-6">
        No privacy.
        </a>
    </div>
</div>

<%- include('partials/footer') %>