<%- include('partials/header') %>

<div class="bg-white p-8 rounded-xl shadow-sm border border-slate-200">
    <h1 class="text-3xl font-bold">Terms and Conditions</h1>
    <p class="text-slate-500 mt-2">Terms and Conditions.</p>
    
    <div class="mt-6">
        Terms and Conditions.
        </a>
    </div>
</div>

<%- include('partials/footer') %>